
.footer{
    background-color: black;
    color: white;
    display: flex;
    position:absolute;
    /* bottom: 0; */
    height: 45px;
    width: 100%;
    justify-content: center;
    align-items:center;
    font-size: 0.85rem;
    border-top: 3px solid #b71c1c ; 
    
}
.footer span{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1rem;
    color: rgb(182, 95, 233);
    font-weight: 1000;
}
